 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  border: 2px solid $dark-gray;
  border-radius: 10px;
  max-height: 40px;
  justify-content: space-evenly;
  cursor: pointer;
  overflow: hidden;

  & > div {
    position: relative;
    padding: 10px;
    transition: background-color 0.2s ease-out;
    user-select: none;
    text-align: center;

    &:hover {
      color: whitesmoke;
      // background-color: #555;
      background-color: $blue-light-secondary;

      // if it uses fontawesome as reactNode
      path{
        fill: whitesmoke;
      }
    }

    &:active {
      // background-color: $font_light_1_brown;
      background-color: $blue-light-active;
    }
  }
}

.btn:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: $dark-gray;
    width: 2px;
    height: 100%
}

// the active selection
.active {
  background-color: $color-primary;
  // border-radius: 10px;
}
