@use '../../../styles/styles_v2/mixins_v2' as *;

.container {
  display: flex;
  // @include border_green;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
  }
}
