.appContainer {
  display: flex;
  // position: relative;
  position: relative;
  background-color: var(--background-color);
  // height: 100%;
  // overflow-x: hidden;
  filter: drop-shadow(5px 5px 10px #666);
}

.contentNavContainer {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 100;
  overflow-x: hidden; // CAUTION: for some reason if this is missing sidebar is srinking when the products do not fit inside the products container in landing and products page.
  // justify-content: center;
  // background: transparent;
}


