@use './styles/styles_v2/mixins_v2' as *;

.appContainer {
  display: flex;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  filter: drop-shadow(5px 5px 10px #666);
}

.contentNavContainer {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  justify-content: center;
}




