.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  width: 80%;
  max-width: 60%;
  position: relative;
  border: 2px solid #dcdcdd;
  border-radius: 15px;
  box-shadow: $box-shadow-v2;
  overflow: hidden;

  @media screen and (max-width: 1300px) {
    max-width: 80%;
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(135deg, #3498db 50%, #e74c3c 50%);
  transform-origin: 0 0;
  // translateZ(0) forces the browser to use the gpu
  transform: skew(-45deg) translateZ(0);
  z-index: 1;
}

.leftContainer, .rightContainer {
  position: relative;
  z-index: 2;
}

.leftContainer {
  flex: 2;
  background: linear-gradient(to right, #da8db3, #e2c0d2, #ebe1e7, #ffffff);
}

.rightContainer {
  padding: 30px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;

  
  form {
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
    }
  }

  &::before {
    content: '';
    background-color: #f0d98f;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -20%;
    left: -20%;
    transform: rotate(7.6deg);
    z-index: 0;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
    box-shadow: 
    inset 0 0 60px rgba(0, 0, 0, 0.5), /* Inner shadow */
    // 0 0 10px rgba(0, 0, 0, 0.5); /* Outer shadow */
  }
}

.formContainer {
  z-index: 1;
}

.inputContainer {
  text-align: center;
  padding: .5rem 0;
}


