.productContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 200px;
  height: 100%;
  min-width: 380px;
  user-select: none;
  cursor: pointer;
  // width: 300px;
  /* padding: 3rem; */
}

.topRegion {
  grid-row: 1;
}

.medRegion {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
}

.wide {
  // border: $border-green;
  // background-color: black;
  grid-template-columns: 230px 300px 1fr;
  text-align: left; 
}

.ml { 
  // border: 1px solid red;
  position: relative;
}

.imageContainer {
  // border: $border-green-bold;
  overflow: hidden;
  position: absolute;
  display: flex;
  left: -80px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.5));
  // background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 50%, #fff 50%);
  /* background-color: rgb(255, 251, 245); */
  border-radius: 50%;
  height: 250px;
  width: 250px;

  /* width: 50px; */
  /* width: 100%; */


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 50%, #fff 20%);
    border-radius: 50%;
  }
}

.imageMain {
  max-width: 100%;
  transition: transform .2s ease-out;
  @include transition-transform-quick();

  &:hover {
    transform: scale(1.2);
  }
}

.imageHovered {
  transform: scale(1.1);
}

.mm {
  font-size: 15px;
  // border: $border-green-bold;

  > div {
    // border: $border-pink-bold;
    width: 80%;
  }
}

.mr {
  // border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 120px 1fr;
  // flex-direction: column;
  // justify-content: space-between;

  .available {
    margin-top: 10px;
    font-weight: 700;
    color: #6fc17f;
  }
}

.priceContainer {
  // padding-top: 10px;
}

.ratingsContainer {
  margin-top: 6px;
  display: flex;
}

.variationsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  align-items: center;
}

.varImageContainer {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #c9c9c9;
  margin: 0 10px 0px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: width .4s ease-in;
  background-color: white;

  &:hover {
    transform: scale(1.3);
    width: 50px;
    height: 45px;
    // box-shadow: 2px 2px 4px #444;
    // transform: translateX(-30px);
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.contentContainer {
  // text-align: center;
}

.bottomRegion {
  margin-top: 2rem;
  display: flex;

  & > div {
    cursor: pointer;
    // imageView thumbnails
    // border: $border-red-bold;
    border: 2px solid #E3D9D6;
    position: relative;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    // padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    transition: width .3s ease-in;
    background-color: white;
    

    &:hover {
      transform: scale(1.3);
      width: 60px;
      height: 55px;
    }
  }
  
  & img {
    // object-fit: contain;
    // object-position: 50% 50%;
    height: 100%;
    // object-fit: contain;
    // height: 80%;
    // object-position: 50% 50%;
  }
}

.actionContainer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: end;

  & button {
    margin-right: 10px;
  }
}

.heartIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  // transition: transform .2sec linear;
  @include transition-transform-quick();
  cursor: pointer;
}

.heartIconScale {
  transform: scale(1.2);
}

.quickCheckoutIcon {
  margin-right: .5rem;
}

.heartIcon:hover {
  @include transform-scale();
}

.addIcon {
  // position: absolute;
  @include transition-transform-quick();
}

.addIcon:hover {
  @include transform-scale();
}

.productViewsContainer {
 position: absolute;
 top: 65%;
 left: -60px;

 & > div {
  // imageView thumbnails
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-bottom: 5px;

}

 & img {
  height: 80%;
 }

}

.label {
  padding: 10px 0; 
}

.danger {
  color: tomato;
}

.caution {
  color: khaki;
}