.mainContainer {
  position: relative;
  width: 800px;
  border: $border-green-bold;
  overflow: hidden;
}

.indicatorContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  background: none;
  cursor: pointer;
  color: $font_light_1_brown;
  user-select: none;
  z-index: 15;
}

.indicatorContainer.left {
  left: 5px;
}

.indicatorContainer.right {
  right: 5px;
}

.carouselContainer {
  display: flex;
  border: $border-pink;
  transition: transform .5s ease;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  // width: 100px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.dummyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: transform .5s ease-in-out;
}

.active {
  // border: $border-pink-bolder;
  // transform: translateX(-100%);
}

.hidden {
  // opacity: 0;
}

.hideLeft {
  width: 150px;
  height: 100%;
  background-color: hotpink;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.hideRight {
  width: 150px;
  height: 100%;
  background-color: hotpink;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0; 
}