.container {
  max-width: 90%;
  // margin-top: 3rem;
  &> h2 {
    padding: 5px 10px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.swiper {
height: 460px; // change the height of the scroller
}

.dummyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 320px;
}
