.container {
  h2 {
    font-family: 'Lemon', serif;
    padding-bottom: 20px;
  }
}

.cartContainer {
  // @include border_lime();
  width: 80%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  & > div {
    // @include border_green();
    flex: 1;
    text-align: center;
    color: inherit;
    text-align: start;
  }
}

.tableHeader {
  font-weight: bold;
  background-color: $blue_lightV2;
  color: #ddd;
}

.iconContainer {
  // width: 10px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 15px;
  position: relative;
  box-shadow: $box-shadow-transparent-black;
  cursor: pointer;
  
  & > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.quantityContainer {
  display: flex;
  align-items: center;
  font-weight: bold;
   & > div:nth-child(1) {
    margin-right: 6px;
   }

   .quantityIconContainer {
    // TODO: its the same on productDetail -> convert to mixin
     height: 2em;
     width: 2em;
     cursor: pointer;
     
     :hover {
       height: 2.1em;
       width: 2.1em;
     }
   }

  .quantityIcon {
    fill: #666;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
  }
}

.total {
  user-select: none;
  font-weight: bold;
}

.actionContainer {
  // @include border_green__bold();
  display: flex;
  justify-content: flex-end;

}

.finalPriceContainer {
  // @include border_orange__bold();
  display: flex;
  flex-direction: column;
  min-width: 250px;
}


.actionRow {
  user-select: none;
  display: flex;
  justify-content: space-between;
  // align-items: first baseline;
  padding: 10px 10px 10px 0;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-color: #919191;
    width: 60%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  & div:nth-child(2) {
    // color: red;
    text-align: left;
    width: 30px;
    transform: translateY(4px);
  }
}

.totalFinal {
  user-select: none;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 10px 0 10px 10px;

  div {
    // color: red;
    font-weight: bold;
    font-size: 1.3em;
  }

  & > div:nth-child(1) {
    // color: red;
    color: #777;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Lemon', serif;
  }

  & > div:nth-child(2) {

    span {
      font-weight: 500;
      font-size: .7em;
      padding-left: 3px;
    }
    // font-size: 1.2em;
  }
}

.orderBtnContainer {
  display: flex;
  justify-content: flex-end;

  .orderBtn {
    margin-top: 20px;
    @include btn_blue();
  }
}

.removeContainer {
  width: 30px;
  height: 30px;

  &:hover {
    width: 32px;
    height: 32px;
    // transform: scale(1,2);
  }

}

.removeIcon {
  width: 100%;
  height: 100%;
  fill: $violet;
  transform-origin: 50% 50%;
  cursor: pointer;
  transition: fill .2s ease-out;

  &:active {
    fill: rgb(221, 127, 33);
  }
}

