.controlBar {
  padding: 0 20px 60px 0;
  display: flex;
  flex-direction: column;
}

.controlButtons {
  display: flex;
  align-items: center;
  height: 50px;
}

.buttonGroup {
  margin-right: 10px;
}

.line {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  height: 3px;
  background-color: $blue-light-active;
}

.sortContainer {
  margin-left: auto;
  // width: 250px;

  label {
    margin-right: 5px;
  }

  select {
    border: 2px solid $dark-gray;
    border-radius: 10px 10px 0 0;
    background: var(--background-2);
    padding: 6px;
    position: relative;
    overflow-x: hidden;

    // it is handled with a ref inside the component
    .optionContainer {
      @include border_lime__bolder;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.filter {
  margin-left: 5px;
  cursor: pointer;
}

.facetsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  height: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transform-origin: top;
  opacity: 0;

  &.animating {
      animation: spring 0.3s ease-out reverse forwards;
  }

  // when the user oopens the panel
  &.animating:not(.open) {
      animation: spring 0.3s ease-out forwards;
  }

  &.open {
    height: var(--menu-height);
    opacity: 1;
    transform: translateX(0);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@keyframes spring {
  0% {
    opacity: 0;
    height: 0;
    // transform: scaleY(0);
    transform: translateX(-100%);
  }

  80% {
    // opacity: .5;
    // height: fit-content;
    height: calc(var(--menu-height) + 20px);
    transform: scaleY(1.1);
  }

  90% {
    // opacity: 0.1;
    // transform: scale(.3);
  }

  100% {
    opacity: 1;
    height: var(--menu-height);
    // max-height: 220px;
    transform: scaleY(1);
    transform: translateX(0);
  }
}

