.controlBar {
  padding: 0 20px 60px 0;
  display: flex;
  flex-direction: column;
  // max-height: var(--menu-height);
  // transition: max-height 1.2s ease-out;
  // grid-template-columns: 1fr 1fr auto 1fr;
  // border: $border-red;
}

.controlButtons {
  display: flex;
  align-items: center;
  height: 50px;

}

.buttonGroup {
  margin-right: 10px;
}

.line {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  // display: inline-block;
  height: 3px;
  // border: 1px solid red;
  background-color: $font_light_1_brown;
}

.sortContainer {
  margin-left: auto;
}

.filter {
  margin-left: 5px;
  cursor: pointer;
}

.facetsContainer {
  display: flex;
  height: 0;
  overflow: hidden;
  // transform: scaleY(0);
  transform: translateX(-100%);
  transform-origin: top;
  opacity: 0;

  &.animating {
      animation: spring 0.3s ease-out reverse forwards;
  }

  // when the user oopens the panel
  &.animating:not(.open) {
      animation: spring 0.3s ease-out forwards;
  }


  &.open {
    height: var(--menu-height);
    opacity: 1;
    // transform: scaleY(1.1);
    transform: translateX(0);
  }
}


@keyframes spring {
  0% {
    opacity: 0;
    height: 0;
    // transform: scaleY(0);
    transform: translateX(-100%);
  }

  80% {
    // opacity: .5;
    // height: fit-content;
    height: calc(var(--menu-height) + 20px);
    transform: scaleY(1.1);
  }

  90% {
    // opacity: 0.1;
    // transform: scale(.3);
  }

  100% {
    opacity: 1;
    height: var(--menu-height);
    // max-height: 220px;
    transform: scaleY(1);
    transform: translateX(0);
  }
}

