.label {
  padding: 10px 0;
  // border: $border-green-bold;


  @media screen and (max-width: 1400px) {
    font-size: 12px;
  }
}

.available {
  margin-top: 10px;
  font-weight: 700;
  // color: #6fc17f;
  color: $positive_green;
}

.danger {
  color: tomato;
}

.caution {
  color: khaki;
}


