.section {
  padding: 6rem 4rem;
  height: 100%;
  flex: 1;
  // min-height: 100vh;

  // @include border_red;

  @media screen and (max-width: 768px) {
    padding: 6rem 44px;
  }

  // iphone 12
  @media screen and (max-width: 391px) {
    padding: 4rem 20px;
  }
  // @include border_green();
}
