@use '../styles/styles_v2/_mixins_v2.scss' as *;


.section {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 2rem;
  // @include border_red;

  @include mobile-max {
    // @include border_green__bolder;
    padding: 3rem 44px;
  }

  @include tablet {
    max-height: none;
    // height: 100%;
  }

}
