.section {
  padding: 6rem 4rem;
  flex-grow: 1;

  @media screen and (max-width: 768px) {
    padding: 6rem 44px;
  }

  // iphone 12
  @media screen and (max-width: 391px) {
    padding: 4rem 20px;
  }
  // @include border_green();
}
