.container {
  // @include border_green;
  width: 90%;
  margin: 0 auto;

  & > div {
    // @include border_green;
    // width: 80%;
    margin: 0 auto;

    h1 {
      align-self: flex-start;
    }
  }
}












