@use '../../styles/styles_v2/mixins_v2' as *;


.container {
  margin: 0 auto;
  // display: flex;

  @include tablet {
    width: 90%;
  }

  & > div {
    // @include border_green;
    // width: 80%;
    margin: 0 auto;

    h1 {
      align-self: flex-start;
    }
  }
}












