
  .featuredImage {
    // @include border_lime__bold();
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow-transparent-black;
    padding-top: calc(100% / 1.2);
    cursor: pointer;

    & img {
      // @include border_orange__bold();
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // TODO: the following is not working. check why
      object-fit: cover;
      object-position: center center;
    }
  }

   .secondaryImages {
    display: grid;
    margin-top: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    position: relative;

    .imageContainer {
      // border: 1px solid #888;
      box-shadow: $box-shadow-transparent-black;
      cursor: pointer;
      @include transition-transform-quick();
      // transition: transform .2s linear;

      &:hover {
        // @include transition-transform-quick();
        transform: scale(1.05);
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
