.cardContainer {
  position: relative;
  background-color: #fff;
  // min-width: 400px;
  height: 28em;
  // width: 400px;
  // height: 100%;
  padding: 2rem 1.3rem;
  border-radius: 5% 3% 2em 3%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform ease 150ms;
  // cursor: pointer;
  background: linear-gradient(-45deg, rgba(241, 183, 175, 0.7), rgba(255, 102, 90, 0.7), rgba(255, 102, 90, 0.7));
  // width: 300px;
 /* border: 3px solid #ff4d40; */
}

.medium {
  width: 24em;
}

.wide {
  width: 50em;
}


.cardContainer:hover {
  // transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px; 
}

