$light-blue: rgb(158, 189, 219);

$gray: #708090;
$dark-gray: #555555;

$dark-maroon: #800000;

$header-subtitle: #666666;

$lime: #d8f1a0;


// grey tones
$grey_m: #9a94bc;
$grey_neutral: #525252;


$search_color_primary: $grey_neutral; 

// sidebar-colors


