// effects
$drop-shadow-l: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
$box-shadow-btn: rgba(0, 0, 0, 0.04) 0px 3px 5px;
$box-shadow-btn-m: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$box-shadow-btn-d: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$box-shadow-transparent-black: 0 .25rem 1rem rgb(0 0 0 / .1);


// gradients
$radial-gradient-bl: radial-gradient(#1d1d1d, #2e2e2e, #4d4d4d);

// timeless
// 13016 - 11038 -> converts phys to fire
// 16130 -> 20 to fire res