// effects
$drop-shadow-l: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
$box-shadow-btn: rgba(0, 0, 0, 0.04) 0px 3px 5px;

// gradients
$radial-gradient-bl: radial-gradient(#1d1d1d, #2e2e2e, #4d4d4d);