{% autoescape off %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello again{{ user.username }}</h1>
        <p>In the heat of the moment the clown app rises up like a balloon!</p>
        <p>Up in the sky.. Up in the sky..</p>

        <p>It's time for the clown user to activate the clown app.</p>
        <p>Use the following link to activate the account now!</p>
{#        <a href="http://{{ domain }}{% url 'api:auth:activate_user' uidb64=uid token=token %}">activate clown</a>#}
{#        <a href="http://{{ domain }}{% url 'api:auth:activate_test' token=token %}">activate clown</a>#}
        <a href="https://{{ domain }}/activate?token={{ token }}">activate clown</a>
    </body>
    </html>
{% endautoescape %}
