@use '../../../styles/styles_v2/mixins_v2' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.overallContainer {
    align-self: flex-start;
    margin-top: 1rem;
    display: flex;
    flex: 1;
    align-items: baseline;

    h3 {
        margin-right: 5px;
    }
}

.aspectsContainer {
    border: 1px solid var(--border-color);
    margin-top: 1rem;
    max-width: 400px;
    // border: 1px solid orange;
    width: 100%;
    padding-block: 10px;
    padding-inline-start: 10px;

    @include tablet {
        align-self: flex-start;
    }

    h3 {
        text-decoration: underline;
    }

    .aspectContainer {
        display: flex;
        align-items: baseline;

        h3 {
            width: 120px;
            font-size: 14px;
            text-decoration: none;

            @include tablet {
                width: 140px;
            }
        }
    }
}

.ratingsContainer {
    margin-block: 2rem;
    .rating {
        @include card(600px);

        .commentContainer {
            margin-block: 10px;
            // border: 1px solid var(--border-color);
            padding: 10px;
        }
    }
}


