// TODO: dry the same is on productPReview1

$gradient_blue_dark: #5d95d5;
$gradient_blue_dark: #818589;
$gradient_blue_light: #7bb3eb;
$gradient_blue_light: #747474;


.button {
  background: linear-gradient(to bottom right, $gradient_blue_dark, $gradient_blue_light);
  border: 0;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(46, 119, 158, 0.5), .125rem .125rem 1rem rgba(65, 66, 67, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(109, 121, 127, 0.5), .125rem .125rem 1rem rgba(160, 163, 164, 0.5);
}

.button:not([disabled]):active {
  box-shadow: none;
}

.md {
  width: 110px;
}
