.chatButtonContainer {
  // @include btn_base();
  background-color: #d9d9d9;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  display: flex;
  padding: 5px 20px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

  & :first-child {
    height: 60%;
    // flex-basis: 50px;
    position: relative;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  & div {
    color: inherit;
  }  
}

.chatButtonContainer:hover {
  // color: red;
  // box-shadow: $box-shadow-btn-d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.chatIcon {
  path {
    fill: $dark-gray;
    fill: #E6C316;
  }
}

