@use '../../styles/styles_v2/mixins_v2' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: 1fr 1fr;

    .sectionThree {
      grid-column: span 2;
    }
  }
}

.sectionOne {
  flex: 1 1 60%;
  max-width: 700px;

  @include tablet {
    padding: 20px;
  }
}

.sectionTwo {
    // @include border_orange__bold();
    // background: rgba(255, 255, 255, 0.2);
    order: -1;
    flex: 1 1 40%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // background: rgba(116, 116, 116, 0.763);

    @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    }

    @supports not (backdrop-filter: blur(10px)) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(10px);
        z-index: -1;
      }
    }


    @include tablet {
      order: unset;
      padding: 2rem 0;
      margin: 0 1rem;
      background: transparent;
    }
}

.sectionThree {
  margin-top: 4rem;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 40px;
  }  h2 {
    margin-bottom: 40px;
  }
}


.sectionFour {
  margin-top: 4rem;

  @include tablet {
    grid-column: span 2;
  }
}
