$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;


.container {
//  overflow: hidden;

}

.sectionOne {
  // @include border_green();
  display: flex;
  display: flex;

  .leftContainer {
    // @include border_lime();
    flex: 1 1 60%;
    max-width: 700px;
    padding: 20px;
  }

  .featuredImage {
    // @include border_lime__bold();
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow-transparent-black;
    padding-top: calc(100% / 1.2);
    cursor: pointer;

    & img {
      // @include border_orange__bold();
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // TODO: the following is not working. check why
      object-fit: cover;
      object-position: center center;
    }
  }

  .secondaryImages {
    display: grid;
    margin-top: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    position: relative;

    .imageContainer {
      // border: 1px solid #888;
      box-shadow: $box-shadow-transparent-black;
      cursor: pointer;
      @include transition-transform-quick();
      // transition: transform .2s linear;

      &:hover {
        // @include transition-transform-quick();
        transform: scale(1.05);
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .rightContainer {
    @include border_orange__bold();
    flex: 1 1 40%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .salesContainer {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 30px;
      padding: 10px;
      background: linear-gradient(45deg, yellow, orange, white);
      top: -40px;
      right: 0;
      font-weight: bold;
    }

    .description {
      margin-top: 2rem;
      max-width: 600px;
    }

    .promoContainer {
      display: flex;

      div:first-child {
        margin-right: 10px;
        font-weight: 500;
        position: relative;
      }

      div:first-child::before {
        @include strikethrough_diagonal();
      }


    }

    .priceContainer {
      margin: 20px 0;
      display: flex;
      align-items: baseline;

      & > div:nth-child(1) {
        margin-right: 10px;
      }

      & > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.2em;
        margin-right: 10px;
        color: #555;
      }
    }

    .bottom {
      margin-bottom: 10px;
    }

    .trackContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: 'Lemon', serif;

      & svg {
        transform: translateY(-3px);
      }

      & > div {
        margin-left: 10px;
      }
    }
  }

  .variations {
    display: flex;

    .variationsImageContainer {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 5px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      // @include border_green;

      &:hover {
        // TODO smooth transition
        @include box-shadow-scale;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.available {
  margin-top: 5px;
  font-family: 'Lemon', serif;
  font-size: 17px;
  font-weight: 600;
  color: mediumspringgreen;
}


.action {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .quantityBtnContainer {
    margin-right: 10px;
    & input {
      border: none;
      border-bottom: 2px solid #a2d2ff;
      outline: none;
      color: #a2d2ff;
      font-family: 'Lemon', serif;
      font-size: 20px;
    }

    .plusMinusContainer {
      margin-top: 5px;
      display: flex;
    }

    .qIcon {
      height: 2em;
      width: 2em;
      cursor: pointer;
      border: none;

      :hover {
        height: 2.1em;
        width: 2.1em;
      }

      :active {
        height: 2em;
        width: 2em;
        svg: {
          color: red;
          filter: $drop-shadow-l;
          // box-shadow: 2px 2px 2px rgba(0, 0, .4);
          fill: orange;
        }
      }

      svg {
        fill: #666;
        // fill: orange;
        transition: fill .1s ease-out;
        // TODO: not working, find a solution
        transform-origin: center;

        path {
          transition: stroke .1s ease-out;
        }
      }

      &:active > svg {
        fill: orange;

        path{
          stroke: orange;
        }
      }
    }

  }

  .buyBtn {
    border: none;
    padding: 15px 30px;
    width: 170px;
    background-color: #a2d2ff;
    cursor: pointer;
    transition: box-shadow .2s ease-out;

    &:hover {
      box-shadow: $box-shadow-transparent-black;
    }
  }
}

.policyContainer {
  margin-top: 2px;
  font-family: 'Lemon', serif;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // @include border_pink__bold();

  & div {
    // @include border_orange__bold();
  }
  // align-self: flex-end;
}

.iconContainer {
  flex: 0 0 40px;
  display: flex;
  justify-content: flex-end;
}

.returnIcon {
  // @include border_orange();
  fill: #444;
  width: 25px;
  height: 25px;
  transform: translateX(-3px);
}

.trackIcon {
  // @include border_orange();
  // flex: 0 0 40px;
  width: 25px;
  transform: translate(-5px, -4px);
}



.image-grid {
  display: grid;
  gap: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: $breakpoint-small) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $breakpoint-large) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flexContainer {
  @include border_red__bold;

  .child {
    display: flex;

    .img {
      flex: 1;
    }

    .text {
      flex: 2;
      @include border_lime__bold();
      text-align: left;
    }
  }
}
