// old component
.container {

  &> h2 {
    margin-bottom: 1.4rem;
  }
}

.linkRight {
  margin-top: 5px;
  text-align: right;
  position: relative;
  left: -180px;
}










