// old component
.container {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // max-width: 100%;
  // min-width: 0;


  &> h2 {
    margin-bottom: 1.4rem;
  }
}

.linkRight {
  margin-top: 5px;
  text-align: right;
  position: relative;
  left: -180px;
}










