@use '../../styles/styles_v2/mixins_v2' as *;


.searchContainer {
  padding: 48px 0;
  z-index: 100;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1.5rem;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  }

  @include laptop {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }


  & > div {
    // aspect-ratio: 1 / 1.5;
    // height: 290px;
    // width: 300px;
    // min-width: 350px;
    box-shadow: $box-shadow-transparent-black;
  }
}

// TODO move this to the utilities?
.twoColLayout {
  grid-template-columns: repeat(2, 1fr);
}

.fourColLayout {
  grid-template-columns: repeat(4, 1fr);
}

.listLayout {
  display: flex;
  flex-direction: column;

  > div {
    height: 100px;
  }
  // grid-template-columns: repeat(6, 1fr);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.sample {
  height: 40px;
  width: 400px;
  margin-bottom: 10px;
}

.sample_prime {
  background-color: $test-color-primary;
  cursor: pointer;

  &:hover {
    background-color: $test-color-secondary;
  }

  &:active {
    background-color: $test-color-active;
  }
}

.sample_second {
  background-color: $color-secondary;
}

.sample_active {
  background-color: $color-active;
}


.paginationContainer {
  padding: 20px;
  padding-left: 0;
  display: flex;

  div, .page {
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
  }

  .disabled {
    user-select: none;
    color: $button-disabled;
    cursor: default;
  }

  .isActive {
    color: red;
  }
}
