.searchContainer {
  padding: 48px;

  @media screen and (max-width: 1024px) {
    padding: 20px 20px;
  }

  @media screen and (max-width: 650px) {
    padding: 20px 20px;
  }

  @media screen and (max-width: 391px) {
    padding: 20px 0;
  }

}

.controlBar {
  padding: 0 20px 60px 0;
  display: flex;
  // grid-template-columns: 1fr 1fr auto 1fr;
  // border: $border-red;
  height: 50px;
  align-items: center;
}

.line {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  // display: inline-block;
  height: 3px;
  // border: 1px solid red;
  background-color: $font_light_1_brown;
}

.sortContainer {
  margin-left: auto;
}

.buttonGroup {
  margin-right: 10px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;

  & > div {
    // aspect-ratio: 1 / 1.5;
    height: 290px;
    // width: 300px;
    background-color: pink;
    box-shadow: $box-shadow-transparent-black;
  }
}

// TODO move this to the utilities?
.twoColLayout {
  grid-template-columns: repeat(2, 1fr);
}

.fourColLayout {
  grid-template-columns: repeat(4, 1fr);
}

.listLayout {
  display: flex;
  flex-direction: column;

  > div {
    height: 100px;
  }
  // grid-template-columns: repeat(6, 1fr);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.sample {
  height: 40px;
  width: 400px;
  margin-bottom: 10px;
}

.sample_prime {
  background-color: $test-color-primary;
  cursor: pointer;

  &:hover {
    background-color: $test-color-secondary;
  }

  &:active {
    background-color: $test-color-active;
  }
}

.sample_second {
  background-color: $color-secondary;
}

.sample_active {
  background-color: $color-active;
}


.paginationContainer {
  padding: 20px;
  padding-left: 0;
  display: flex;

  div, .page {
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
  }

  .disabled {
    user-select: none;
    color: $button-disabled;
    cursor: default;
  }

  .isActive {
    color: red;
  }
}
