@use "../../../styles/styles_v2/mixins_v2" as *;

.containerProduct {
  font-size: 1rem;
  display: flex;
  // max-width: 550px;
  background-color: var(--background-color-2);

  @media screen and (max-width: 890px) {
    font-size: small;
  }
}

.containerLeft {
  flex: 0 0 50%;
  position: relative;

  .imageContainer {
    height: 100%;
    position: relative;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      background-color: transparent;
    }
  }

  .imageContainer:before {
    position: absolute;
    display: block;
    content: "";
    height: inherit;
    width: inherit;
    background-color: $blue-light-primary;
  }
}

.container_right {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  // min-height: 150px;
  grid-template-areas:
    "title title .      .    .      .     "
    "price price price  desc   desc   desc  "
    "avail avail .      desc   desc    desc"
    "tags tags   tags   .      .       .   "
    "tags tags   tags   btn    btn     btn ";

  .titleContainer {
    h2 {
      font-size: 10px;
    }
  }

  .titleContainer {
    grid-area: title;
    margin-bottom: 0;
  }

  .priceContainer {
    grid-area: price;
    display: flex;
    flex-wrap: wrap;
  }

  .availabilityContainer {
    grid-area: avail;
    font-size: 10px;
  }

  .descriptionContainer {
    grid-area: desc;
    // overflow-y: hidden;
    font-size: 10px;
  }

  .btnContainer {
    grid-area: btn;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tagsContainer {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;
    font-size: 12px;

    & > a {
      text-decoration: underline;
      // color: $grey_m;
      margin-right: 5px;
    }
  }

  @include tablet {
    .titleContainer {
      h2 {
        font-size: medium;
      }
    }
  }
}

.listLayout {
  .container {
    flex: 1 1 100%;
  }

  .containerLeft {
    flex: 0 0 30%;
  }

  .container_right {
    flex: 0 0 70%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 5px 10px;
    // gap: 5px;
    // grid-template-rows: auto auto auto;
    // @include border_lime__bolder;

    grid-template-areas:
      "title title .  .     desc  desc"
      "price . avail avail  desc desc"
      "tags tags . . . ."
      "tags tags . . btn btn";

      @include tablet {
        grid-template-areas:
          "title title .     desc desc ."
          "price avail .     desc  desc ."
          "tags  tags . . . ."
          "tags tags . . . btn";
    }
  }
}



// .listLayout {
//   .container {
//     flex: 1 1 100%; // reset
//   }

//   .containerLeft {
//     flex: 0 0 30%;
//   }

//   .container_right {
//     flex: 0 0 70%;
//     // display: grid;
//     // align-items: center;
//     // grid-template-columns: 3fr 6fr 1fr;
//     // grid-template-rows: auto;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     overflow: hidden;
//     @include border_lime__bolder;

//     h2 {
//       font-size: 10px;
//     }

//     @include tablet {
//       h2 {
//         font-size: medium;
//       }
//     }

//     @include desktop {
//       h2 {
//         font-size: 12px;
//       }
//     }

//     &__middle {
//       display: flex;
//       align-items: center;
//       flex-direction: row;
//       @include border_pink__bold;

//       // category - brand -tags
//       &__left {
//         @include border_pink__bolder;
//         display: flex;
//         flex: 1;
//         flex-direction: column;
//         align-items: center;
//       }

//       .category {
//         flex: 0;
//         margin-right: 20px;
//       }

//       .description {
//         flex: 1;
//         margin-right: 20px;
//         margin-top: 0;
//       }

//       .priceAndQntContainer {
//         flex: 1;
//         // @include border_orange__bold;
//       }

//       .priceContainer {
//         margin-top: 0;
//       }

//       .tagsContainer {
//         a {
//           font-size: 8px;
//         }
//       }

//       .availabilityContainer {
//         margin-left: auto;
//         font-size: 10px;

//         @include tablet {
//           font-size: inherit;
//         }
//       }

//     }
//   }

//   .description {
//     font-size: 10px;
//   }

//   button {
//     font-size: 12px;
//     padding: 5px 15px;
//   }
// }
