.searchContainer {
  padding: 50px;  

}

.controlBar {
  padding: 0 20px 60px 0;
  display: flex;
  // grid-template-columns: 1fr 1fr auto 1fr;
  // border: $border-red;
  height: 50px;
  align-items: center;
}

.line {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  // display: inline-block;
  height: 3px;
  // border: 1px solid red;
  background-color: $font_light_1_brown;
}

.sortContainer {
  margin-left: auto;
}

.buttonGroup {
  margin-right: 10px;
}

.content {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5rem;  

  & > div {
    // aspect-ratio: 1 / 1.5;
    height: 200px;
    // width: 300px;
    background-color: pink;
    box-shadow: $box-shadow-transparent-black;
  }
}

// TODO move this to the utilities?
.twoColLayout {
  grid-template-columns: repeat(2, 1fr);
}

.fourColLayout {
  grid-template-columns: repeat(4, 1fr);
}

.sixColLayout {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-span-2 {
  grid-column: span 2;
}