@use '../../styles/styles_v2/mixins_v2' as *;

.container {
  @include border_pink;
  margin-top: 3rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


  @include tablet {
    max-width: 70%;
  }

  @include desktop {
    max-width: 60%;
  }
  // max-width: 700px;
}


.cardContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  box-shadow: $box-shadow-v2;
  overflow: hidden;
  color: inherit;

  @include tablet {
    // max-width: 70%;
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(135deg, #3498db 50%, #e74c3c 50%);
  transform-origin: 0 0;
  // translateZ(0) forces the browser to use the gpu
  transform: skew(-45deg) translateZ(0);
  z-index: 1;
  color: inherit;
}

.leftContainer, .rightContainer {
  position: relative;
  z-index: 2;
}

.leftContainer {
  flex: 2;
  // background: linear-gradient(to right, #da8db3, #e2c0d2, #ebe1e7, #ffffff);
  background: linear-gradient(to right, $blue-light-primary, $blue-light-active, #ffffff);

}

.rightContainer {
  // @include border_red__bold;
  padding: 30px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: inherit;

  form {
    display: flex;
    flex-direction: column;
    // @include border_green__bolder;
    color: inherit;

    h2 {
      text-align: center;
      // color: var(--text-color-white-bg);

      :global(.dark-theme) & {
        // color: #555;
      }
    }
  }

  &::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -40%;
    left: -20%;
    transform: rotate(70deg);
    z-index: 0;
    box-shadow:
    inset 0 0 120px rgba(0, 0, 0, 0.5);

    :global(.dark-theme) & {
      background-color: rgb(47, 47, 47);
    }
  }

  @media screen and (max-width: 1850px) {
    &::before {
      transform: rotate(6deg);
    }
  }
}

.formContainer {
  z-index: 1;
}

.inputContainer {
  // text-align: center;
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-bottom: 10px;
  }

  label {
    display: flex;
    align-items: center;
  }

  input {
    margin-right: 5px;
  }

  .btnContainer {
    display: flex;

    button {
      margin-right: 10px;
    }

    button:nth-child(2) {
      background-color: rgb(211, 171, 26);
      padding: 0 10px;
    }
  }

  .signUp {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}


