.navFieldContainer {
  position: relative;
}

.linkContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: antiquewhite;

  & span {
    color: inherit;
  }

  svg {
    height: 25px;
    width: 30px;
    margin-right: 1.3em;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 768px){
    .title {
      display: none;
    }
  }
}



.hovered {
  svg {
    transform: scale(1.2);
  }
}

.nestedFieldContainer {
  padding-right: 10px;
  position: relative;
  left: 30px;
  width: calc(100% - 30px);
}


