/* TODO: there is another class name sidebarContainer in the layouts file  */
.sidebarContainer {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  background-color: white;
  width: $sidebar-width;
}

a {
  color: $dark-gray;

  &:hover {
    color: #2c2c2c;
  }
}



/* TODO need to change this name to something else */
.rightContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  path {
    fill: #555555;
  }
}

.cartIcon {
  svg {
    // color: red;
  }
  path {
    color: red;
    fill: red;
  }
}