.linkContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    height: 25px;
    width: 30px;
    margin-right: 1.3em;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 768px){
    .title {
      display: none;
    }
  }
}

.hovered {
  svg {
    transform: scale(1.2);
  }
}