.sidebarContainer {
  top: 0;
  left: 0;
  position: sticky;
  height: 100vh;
  background-color: white;
  // flex:0 0 $sidebar-width;
  // white-space: nowrap;
  flex-shrink: 0; // TODO: if i use basis if the elemement is hidden the right item does not fill the remaining space 
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  transition: transform .3s ease-out, width .3s ease-out;


  @media screen and (max-width: 1200px) {
    // flex: 0 0 170px;
    width: 170px;
    // flex-basis: 170px;
    font-size: small;
  }


  @media screen and (max-width: 768px) {
    // flex: 0 1 50px;
    width: 50px;
    box-shadow: $box-shadow-btn;
  }
}

.hidden {
  transform: translateX(-300px);
  width: 0;
}

.logoContainer {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.footer{
  // border: $border-red;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 1.2rem 1.2rem;
  font-size: small;
  font-weight: bold;
  
  &> * {
    padding-bottom: .3rem;
    color: $font_light_1_brown;
  }
}

.icon {
  path {
    fill: #555555;
  }
}

.cartIcon {
  svg {
    // color: red;
  }
  path {
    color: red;
    fill: red;
  }
}

a {
  // color: $dark-gray;
  color: #5b5b5b;

  &:hover {
    color: #2c2c2c;
  }
}