// .planContainer {
//   display: grid;
//   grid-template-columns: repeat(5, auto);
//   width: fit-content;
//   max-width: 800px;
//   column-gap: 10px;

//   input {
//     cursor: pointer;
//   }

//   .row {
//     display: contents;

//     .value {
//       justify-self: start;
//       // margin-right: 5px;
//     }

//   }
// }

.planContainer {
  display: flex;
  flex-wrap: wrap; // Adjusts layout if content exceeds width
  justify-content: space-between; // Ensures consistent spacing
  align-items: center;
  // width: 800px; // Fixed or dynamic width
  max-width: 800px;
  width: 100%;
  column-gap: 10px;

  input {
    cursor: pointer;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .value {
      flex: 1;
      // flex-basis: content;
      justify-self: start;
    }

    .value:nth-child(1) {
      flex-basis: 50px;
      flex: 0.2;
    }

    .value:nth-child(2) {
      flex: .2;
    }

    .value:nth-child(3) {
      flex: .3;
    }

    .value:nth-child(4) {
      flex: 0.03;
    }

    input #plan_radio {
      @include border_green;
      color: red;
    }
  }
}

.otherOptionsTitle {
  margin-top: 10px;
}
