
.buttonContainer {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: $box-shadow-btn;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  @include transition-transform-quick();
  
  &m {
    height: $btn_height;
    width: 120px;
  }
  
  &s {
    height: 30px;
    width: 80px;
    font-size: 10px;
  }
  
  &primary {
    color: beige;
    background: $radial-gradient-bl;
    background: #52525b;
  }

  &secondary {
    color: beige;
    background-color: $gray;
  }
  
  &:hover {
    @include box-shadow-scale(1.04);
  }
  
  &:active {
    box-shadow: none;
  }
}

.disabled {
  color: #888;
  background: #555555dd;
}