.crumbContainer {
  display: flex;
  margin-left: 10px;

  .crumb a {
    color: violet;

    &:hover {
      color: #444;
    }
  }

  .crumb:last-child {
    text-decoration: underline;
  }
}

.crumb {
  position: relative;
  margin-right: 17px;
}

.crumbContainer .crumb:after {
  position: absolute;
  right: - 10px;
  content: '/';
  font-size: 1rem;
}

.crumbContainer .crumb:last-child:after {
  display: none;
}



