.profileContainer {
  // padding: .2rem 6rem;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.fieldContainer {
  margin-bottom: 12px;
}

.inputContainer {
  width: 400px;
  display: flex;
  // justify-content: space-between;
  margin-bottom: .6rem;
  align-items: baseline;

  & label {
    color: $dark-gray;
    font-weight: bold;
    flex: 1;
  }
}

.right {
  display: flex;
  flex-direction: column;

  .btnContainer {
    margin-top: 10px;
  }
}

.insertBtn {
  @include btn_blue();
}

.favoriteProductsContainer {
  max-width: 750px;
  margin-bottom: 2rem;
}

.underline {
  width: fit-content;
  margin-bottom: 2rem;
  &::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #ddd;
    margin-top: 3px;
  }
}
