.categoryContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  background: linear-gradient(-45deg, rgba(175, 231, 235, 0.7), rgba(24, 228, 243, 0.7), rgba(90, 233, 255, 0.7));
}

.imageContainer {
  height: 300px;
  aspect-ratio: 1 / 1.3;
  filter: $drop-shadow-image;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &isHovered {
    }
  }
}

.isHovered {
  transform: scale(1.1);
}
