.notification {
  position: fixed;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  opacity: 1;
  padding: 10px 20px;
  transition: opacity 0.3s ease-in-out;
}

.notification.top-left {
  top: 10px;
  left: 10px;
}

.notification.top-right {
  top: 10px;
  right: 10px;
  // animation: fromTop .5s ease-out forwards;
}

.notification.bottom-left {
  bottom: 10px;
  left: 10px;
}

.notification.bottom-right {
  bottom: 10px;
  right: 10px;
  // transform: translateY(150%);
  // animation: fromBottom .5s ease-out forwards;
}

.notification.from-top {
  // transform: translateY();
  animation: fromTop .5s ease-out forwards;
}

.notification.from-left {
  animation: fromLeft .5s ease-out forwards;
}

.notification.from-right {
  animation: fromRight .5s ease-out forwards;
  
}

.notification.from-bottom {
  animation: fromBottom .5s ease-out forwards;

}

@keyframes fromTop {
  0% {
    transform: translateY(-150%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(150%);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(150%);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}

.notification.to-top {
  animation: toTop .5s ease-out forwards;
}

.notification.to-right {
  animation: toRight .5s ease-out forwards;
}

.notification.to-bottom {
  animation: toBottom .5s ease-out forwards;
}

.notification.to-left {
  animation: toLeft .5s ease-out forwards;
}

@keyframes toTop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-150%);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes toBottom {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(150%);
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-150%);
  }
}

.success {
  background-color: mediumspringgreen;
}

.caution {
  background-color: khaki;
}

.danger {
  background-color: tomato;
}