.inputContainer {
  position: relative;
  display: flex;
  align-items: center;

  // TODO: check if this is ok
  svg {
    path {
      // color: $search_color_primary;
      color: '#dcdcdc'
    }
  }
}

.datalist {
  position: absolute;
  left: 0;
  top: 40px;
}

.input {
  height: $btn_height;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid  #dcdcdc;
  font-size: medium;
  font-weight: bold;
  transition: border .1s ease-out;

  &:hover {
    border: 3px solid #a7a7a7;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $search_color_primary;
    font-size: medium;
    font-weight: bold;
  }
}

.searchIcon {
  position: absolute;
  right: 20px;
  color: red;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.searchBtn {
  padding: 0;
  width: 100%d;
}
