.navContainer {
  position: sticky;
  top: 0;
  display: flex;
  height: 3.5rem;
  padding: 10px 10px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: flex-end;
  transition: .3s linear;
  
  &_hidden {
    position: fixed;
    top: -80px;
  }
}

.searchContainer {
  margin-right: 10px;
}
  
.buttonsContainer {
  display: flex;
  list-style-type: none;
}

.icons {
  width: $btn_height;
  height: $btn_height;
  margin-right: .4rem;
  cursor: pointer;
  
  background: linear-gradient(133deg, rgba(49, 39, 65, 0.50) 6.04%, rgba(195, 180, 221, 0.50) 94.35%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & img {
    width: 60%;
    // top: 50%;
  }
  
  &:hover {
    @include box-shadow-scale(1.04);
  }

  &:active {
    box-shadow: none;
  }
}


