.navContainer {
  position: sticky;
  top: 0;
  display: flex;
  height: 3.5rem;
  padding: 0 20px 10px 0;
  // margin-left: auto;
  justify-content: space-between;
  align-items: center;
  transition: .3s linear;

  &___hidden {
    position: fixed;
    top: -80px;
  }
  // @include border_green();
}

.leftContainer, .rightContainer {
  display: flex;
}

.leftContainer {
  margin-left: .3rem;
  align-items: center;

  &:first-child {
    cursor: pointer;
  }
}

.searchContainer {
  margin-right: 10px;
}

.buttonsContainer {
  display: flex;
  list-style-type: none;
}

.icons {
  width: $btn_height;
  height: $btn_height;
  margin-right: .4rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // background: linear-gradient(133deg, rgba(49, 39, 65, 0.50) 6.04%, rgba(195, 180, 221, 0.50) 94.35%);
  // background: linear-gradient(133deg, rgba(216, 111, 183, 0.5 ) 66.04%, rgba(255, 215, 235, 0.5) 94%);
  background: $yellow;
  border-radius: 5px;
  // border: 2px solid #8f8f8f44;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition-transform-quick();

  & img {
    width: 60%;
    // top: 50%;
  }

  &:hover {
    @include box-shadow-scale(1.04);
  }

  &:active {
    box-shadow: none;
  }
}

.cartIconContainer {
  position: relative;
}

$notification-width: 30px;
$notification-height: 30px;

.cartNotification {
  position: absolute;
  bottom: calc(-#{$notification-width} / 2);
  left: calc(-#{$notification-height} / 2);
  width: $notification-width;
  height: $notification-height;
  // background-color: gold;
  background-color: transparent;
  // border: 1px solid #444;
  box-shadow: $box-shadow-transparent-black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    transform: translateY(1px);
    font-weight: bold;
    font-family: 'Lemon', serif;
    color: black;
    // color: white;
    // text-shadow:
    // -1px -1px 0 #000,
    // 1px -1px 0 #000,
    // -1px 1px 0 #000,
    // 1px 1px 0 #000;
  }
}

.activeCartBtn {
  transform: scale(1.2) rotate(20deg);
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    & span {
      color: #917e7e;
      font-weight: bold;
      line-height: 150%;
      transform: translateY(-3px) scaleY(1.2);
    }
  }

  & span {
    transition: transform .2s ease-in;
    color: $font_light_1_brown;
  }
}

// TODO: make this utility
.centerField {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: $box-shadow-btn-m;
  margin-right: 5px;
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    // border-radius: 50%;
  }
}

.backIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 4px;

  .cart {
    height: 20px;
    stroke: #757171;
    path {
      // stroke: #555;
      // fill: black;
    }
  }
}

.back {
  font-family: 'Lemon', serif;
  width: 100px;
  background-color: transparent;
  box-shadow: none;
  color: #444;
  font-size: 12px;
  padding: 5px;
  transition: color .1s ease-in;
  border-radius: 0 0 10px 0;

  &:hover {
    color: hotpink;
    box-shadow: none;
  }
}

$width: 22px;
$height: 4px;



