@use './variables' as *;


// dimensions.
$sidebar-width: 250px;


// up to 1200
$btn_height: 40px;

// var
$border-red: 1px solid red; 
$border-green: 1px solid green; 

.main__container {
  display: flex;
}

.sidebar__container {
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  height: 100vh;
  background-color: azure;
  width: 200px;
}

.content__nav-container {
  width: calc(100% - $sidebar-width);
  left: $sidebar-width;
  position: relative;
}

// ** images **

.img__cover {
  width: 100%;
  aspect-ratio: 1 / 1; // width 1 , height 1 
  object-fit: cover;
}

// stack the element inside the "stacked" container
// NOTE: use z-index to arange what element will be on top
.stacked {
  display: grid;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}



