@use './variables' as *;


// dimensions.
$sidebar-width: 250px;

.annotation {
  font-size: small;
  color: rgba(115, 113, 119, 0.7);
}

.margin-right-10 {
  margin-right: 10px;
}

// up to 1200
$btn_height: 40px;

// ** images **
.img__cover {
  width: 100%;
  aspect-ratio: 1 / 1; // width 1 , height 1
  object-fit: cover;
}

// stack the element inside the "stacked" container
// NOTE: use z-index to arange what element will be on top
.stacked {
  display: grid;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}


// MIXINS
// TODO have mixins also in a seperate folder,

@mixin basic_auto_grid($min: 15rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  grid-gap: 1.5rem;
}

// BASIC STYLE FOR ICONS

@mixin icon_btn_square() {
  width: $btn_height;
  height: $btn_height;
  margin-right: .4rem;
  cursor: pointer;

  background: linear-gradient(133deg, rgba(49, 39, 65, 0.50) 6.04%, rgba(195, 180, 221, 0.50) 94.35%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 60%;
    // top: 50%;
  }
}

// elemement dimensions
$h1_font_size: 3.6em;

$titleBottomMargin-m: 2rem;

